[type=number].no-spinner::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media all and (min-width: 480px) {
    .bank-account {
        padding: 60px 0;
    }

    .bank-account form {
        margin: 0 auto;
        max-width: 480px;
    }
    .card {
        max-width: 480px;
        margin: 0 auto;
    }
}


