@media all and (min-width: 480px) {
    .bank-account {
        padding: 60px 0;
    }

    .bank-account form {
        margin: 0 auto;
        max-width: 480px;
    }
    .card {
        max-width: 480px;
        margin: 0 auto;
    }
}


